# Core Web Framework
Django>=4.2.0

# Server
gunicorn

# Typing Practice Features
deep-translator>=1.11.4
pykakasi>=2.2.1
pypinyin>=0.50.0

# Database (optional, in case you use MySQL on server)
# mysqlclient
